/.vs
/.idea
/release
/packages
/TestResults
/artifacts
/build
/Other/release
/Netch/bin
/Netch/obj
/Tests/bin
/Tests/obj
/Tests/TestResults
/Redirector/bin
/Redirector/obj
/RedirectorTester/bin
/RedirectorTester/obj
/RouteHelper/bin
/RouteHelper/obj
*.obj
*.pdb
*.ilk
/Redirector/Tests/*.dll
/Redirector/Tests/*.exe
/Redirector/Tests/*.exp
/Redirector/Tests/*.lib
